/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */
body {
  font-family: Arial, sans-serif;

  display: flex;

  flex-direction: column;

  min-height: 100vh;
}

.img-emoji {
  width: 20px;
  height: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* HEADER */
header {

  background-color: #2c3e50;

  color: white;

  height: 80px;

  display: flex;

  justify-content: center;

  align-items: center;
}

/* FOOTER */
footer {

  background-color: #2c3e50;

  color: white;

  height: 60px;

  display: flex;

  justify-content: center;

  align-items: center;
}

/* CONTAINER CENTRAL */
.container {
  display: flex;

  flex: 2;
}

/* MENU LATERAL */
.menu {
  width: 20%;

  background-color: #34495e;

  color: white;

  padding: 20px;

  min-height: 100%;
}

/* LINKS */
.menu a {
  display: block;

  color: white;

  text-decoration: none;

  margin-bottom: 15px;
}

/* ÁREA DE CONTEÚDO */
#conteudo {
  width: 80%;

  padding: 10px;

  background-color: #ecf0f1;

  overflow: auto;
}


input[type="button"] {

  background-color: gray;

  color: white;

  border: none;

  padding: 5px 5px;

  cursor: pointer;

  border-radius: 5px;
}

/* Quando o mouse passar por cima */
input[type="button"]:hover {
  background-color: rgb(77, 77, 235);
}

.imput-nr {
  padding: 3px; 
  color: #00000F;
  font-family: Comic Sans MS; 
  font-weight: bold;
}

.imput-mostrar { 
    text-align: center;
    font-size:20px; 
    color: #00000F;
    font-family: Comic Sans MS; 
    font-weight:bold; 
    height:28px;
    width:32px;
} 

.imput-mostrar-soma { 
    text-align: center;
    font-size:20px; 
    color: #00000F;
    font-family: Comic Sans MS; 
    font-weight:bold; 
    height:28px;
    width:50px;
    background-color: orange; 
}


